.card.radius.shadowDepth1.card-tolerance
    a(href="#{ '/' + item.clase +'/'+ item.nombre}")
        .card__image.border-tlr-radius
            img.border-tlr-radius(src=" #{ item.image ? item.image : '/images/trigo.jpg' } ", alt='image')
        .card__content.card__padding
            .card__share
                .logo_tipo.small(class="#{item.clase}")
            .card__meta
                h2 #{item.nombre}
            article.card__article
                p #{item.description}
    .card__action
        .card__author
            img(src="#{ item.autor.image || '/images/user.png' }", alt='user')
            .card__author-content
                if item.autor && item.autor.username
                    span by 
                    if item.autor.username != 'Anónimo'
                        a(href="#{ '/users/' + item.autor.username + '/profile'}") #{item.autor.username}
                    else
                        span(href="#{ '/users/' + item.autor.username + '/profile'") #{item.autor.username}